.form{
    display: grid;
    grid-gap: 3px;
    border: 1px solid blue;
    box-sizing: border-box;
    justify-content: center;
    max-width: 300px;
    padding: 5px;
}
.form section{
    display: flex;
    justify-content: space-between;
    gap:3px;
}
.form .form-button{
    display: inline-block;
    width: 70%;
}
.form a{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
}